<div class="log">
  <div align="left">
    <span>
      <%= link_to chat_path(notification.visitor) do %>
        <%= attachment_image_tag notification.visitor, :image,  format: 'image', size: "50x50", fallback: "no_image.png", class: "img" %>
        <%= link_to notification.visitor.name, chat_path(notification.visitor) %>
      <% end %>
    </span>
      <% case notification.action %>
      <% when 'follow' then %>
        <%= "とマッチングしました" %>
      <% else %>
      <%= "からメッセージが届きました" %>
      <% end %>
      ---<%= time_ago_in_words(notification.created_at).upcase %>前
  </div>
</div>