<% if user.nil? %>
条件にマッチするユーザーが見つかりません</br>
他のゲームのユーザーを探す場合はゲームタグを変更してください。
<% else %>
<div>
  <%= link_to follow_path(user.id), method: :POST, class: "btn btn-lg btn-outline-danger fw-bold  bg-transparent mb-3 mr-5", remote: true do %>
    <i class="fas fa-heart" style="color: red"></i>
  <% end %>
    <%= link_to skip_path(user.id), class: "btn btn-lg btn-outline-light fw-bold border-white bg-transparent mb-3 ml-5", remote: true do %>
    <i class="fas fa-forward"></i>
  <% end %>
</div>
<%= attachment_image_tag user, :image,  format: 'image', size: "400x400", fallback: "no_image.png", class: "img" %>
<h1><%= user.name %></h1>
<div><%= simple_format(h(user.introduction)) %></div>
<% end %>