
<div id="tinderslide">
    <ul>
        <li class="pane1"><div class="img"></div><div>Miami Beach</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane2"><div class="img"></div><div>San Francisco</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane3"><div class="img"></div><div>Chicago</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane4"><div class="img"></div><div>New York</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane5"><div class="img"></div><div>Beach</div><div class="like"></div><div class="dislike"></div></li>
    </ul>
</div>
<% @users.each do |user| %>
<%= attachment_image_tag user, :image,  format: 'image', size: "300x300" %>
<table>
  <tbody>
    <tr>
      <td>ニックネーム</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>性別</td>
      <td><%= user.gender %></td>
    </tr>
    <tr>
      <td>プレイしているゲーム</td>
      <td><%= user.genre.name %></td>
    </tr>
    <tr>
      <td>自己紹介</td>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <td><%= link_to '♥', follow_path(user.id), method: :POST %></td>
    </tr>
  </tbody>
</table>
<% end %>