<div>
    <% if @users.any? %>
      <div class="row">
        <% @users.each do |user| %>
            <div class="col-3">
              <div><%= attachment_image_tag user, :image,  format: 'image', size: "200x200", fallback: "no_image.png", class: "img" %>
                <table align="center">
                  <tbody>
                    <tr>
                      <td><%= user.name %></td>
                    </tr>
                    <tr>
                      <td><%= user.gender %></td>
                    </tr>
                    <tr>
                      <td><%= user.genre.name %></td>
                    </tr>
                  </tbody>
                </table>
                <%= link_to "メッセージ", chat_path(user.id), class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
              </div>
            </div>
        <% end %>
      </div>
    <% else %>
      フレンドはいません
    <% end %>
<%= paginate @users %>
</div>
