<h2>プロフィールを入力してください。</h2>
<%= form_with model: @user, local: true do |f| %>
  <div class="field">
    <%= f.label :name, "ニックネーム" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label "性別" %><br />
    <%= f.radio_button :gender, :男性 %>
    <%= f.label :gender, "男性", class: "display: inline-block" %>
    <%= f.radio_button :gender, :女性 %>
    <%= f.label :gender, "女性", class: "display: inline-block" %>
  </div>

  <div class="field">
    <%= f.label "プロフィール画像" %><br />
    <%= f.attachment_field :image %>
  </div>

  <div class="field">
    <%= f.label "プレイ中のゲーム" %><br />
    <%= f.collection_select(:genre_id, Genre.all, :id, :name ) %>
  </div>

  <div class="field">
    <%= f.label "自己紹介" %><br />
    <%= f.text_area :introduction %>
  </div>

  <div><%= f.submit "登録", class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %></div>

<% end %>