<h2>探したいユーザーの情報を入力してください。</h2>
<%= form_with url: result_path, remote: true do |f| %>
<div class="field">
  <%= f.label "探すゲーム" %><br />
  <%= f.collection_select(:genre_id, Genre.all, :id, :name ) %>
</div>

<div class="field">
  <%= f.label "性別" %><br />
  <%= f.radio_button :gender, :未選択 %>
  <%= f.label :gender, "未選択", class: "display: inline-block" %>
  <%= f.radio_button :gender, :男性 %>
  <%= f.label :gender, "男性", class: "display: inline-block" %>
  <%= f.radio_button :gender, :女性 %>
  <%= f.label :gender, "女性", class: "display: inline-block" %>
</div>

<div><%= f.submit "検索", class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %></div>

<% end %>
<div class="users">
<%= render 'result', users: @users %>
</div>