<h2>ゲームジャンル管理</h2>
<%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "追加する" %>
<% end %>
<table>
  <thead>
    <td>ジャンル名</td>
    <td></td>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to "削除する", admin_genre_path(genre.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>