<div>
<%= form_for(@contact, url: confirm_path) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
    <%= f.label :title, '件名*' %>
    <%= f.text_field :title, class: 'form-control col-md-4 offset-md-4' %>
  </div>

  <div class="form-group">
    <%= f.label :message, '内容*' %>
    <%= f.text_area :message, size: '10x10', class: 'form-control col-md-6 offset-md-3' %>
  </div>

  <div>
    <%= f.submit '入力内容確認', class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
  </div>
<% end %>
</div>