<div>
<table align="center">
  <thead>
    <tr>
      <td>名前</td>
      <td>性別</td>
      <td>ゲーム</td>
      <td>登録日</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.gender %></td>
      <td><%= user.genre.name %></td>
      <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= link_to "削除", admin_user_path(user.id), method: :delete, data: { confirm: "ユーザー情報は削除されます。本当に削除しますか？" }, class: "btn btn-secondary fw-bold border-white bg-white" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @users %></div>
</div>