<!doctype html>
<html lang="ja" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>eFriends</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">



    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/efriends/app/assets/stylesheets/cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">eFriends</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
            <%= link_to "ジャンル管理", admin_genres_path, class: "nav-link" %>
          <% else %>
            <%= link_to "マイページ", user_path(current_user.id), class: "nav-link" %>
            <%= link_to "お知らせ", notifications_path, class: "nav-link" %>
            <%= link_to "フレンド", user_matched_path, class: "nav-link" %>
            <%= link_to "お問い合わせ", new_contact_path, class: "nav-link" %>
          <% end %>
          <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        <% end %>
      </nav>
    </div>
  </header>
  <%= yield %>
  </body>
</html>
